{% extends 'base.html.twig' %}
{% trans_default_domain 'todo-reminder' %}

{% block title %}{{ 'title' | trans }}{% endblock %}

{% block content %}
    <p>{{ 'reminder' | trans }} : <b>{{ todo.name }}</b></p>
    {% if todo.description is not empty %}
        <p>Description : {{ todo.description }}</p>
    {% endif %}
{% endblock %}
