###> symfony/framework-bundle ###
/public/bundles/
/var/
/db/
/vendor/
/assets/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
/coverage
###< symfony/phpunit-bridge ###

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###

###> Docker ###
Dockerfile
.dockerignore
####< docker ###
