default:
    suites:
        default:
            contexts:
                - behatch:context:rest
                - behatch:context:json
                - Behat\MinkExtension\Context\MinkContext
                - Tests\Behat\Context\MailerContext
                - Tests\Behat\Context\UserContext

    extensions:
        Behatch\Extension: ~
        FriendsOfBehat\SymfonyExtension:
            kernel:
                class: App\Kernel
                path: src/Kernel.php
                environment: test
                debug: false
            bootstrap: tests/bootstrap.php
        Behat\MinkExtension:
            base_url: 'https://localhost/'
            default_session: symfony
            sessions:
                symfony:
                    symfony: ~
