parameters:
	level: max
	paths:
		- src
	excludePaths:
		- src/App/DataFixtures
	checkMissingIterableValueType: false
	checkGenericClassInNonGenericObjectType: false
	symfony:
		containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml
	scanDirectories:
		- var/cache/dev/Symfony/Config